html {
    scroll-behavior: smooth;
}

/* || General Style || */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    justify-content: center;
}

/* || Responsive Screen || */
@media screen and (min-width: 600px){
 body { 
    font-size: 12pt;
    aspect-ratio: auto;
    justify-content: center;
}
}

@media screen and (max-width: 756px){
body {
    float: none;
    font-size: 8px;
    aspect-ratio: 30%;
    justify-content: center;
}
}


/* || Body Background Image */
body {
    background-image: repeating-radial-gradient(rgb(219, 238, 5), rgb(174, 0, 255));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y:scroll;
    overflow-x:scroll;
    text-align: center;
}

p {
    font-size: large;
}

/* || Header Stlying || */
.header {
    border-width: 10px;
    display: inline-flex;
    border-style: ridge ;
    border-radius: 20px;
    border-block-color: rgb(255, 255, 255);
    padding: 5px;
    float: center;
}

.header h1 {
    display: inline-block;
    padding: 10px;
    border-style: dotted;
    border-radius: 10px;
    background-color:darkorange;
    background-blend-mode: lighten;
    padding: 20px, 20px;
    color:beige;
    display: inline-flex;
    font-size: 30px;
}

.header h1:hover {
    font-size: 50px;
}

/* || Navigation Bar Styling || */
.nav {
    border-style: groove;
    border-width: 10px;
    border-radius: 50px;
    background-image:repeating-radial-gradient(rgb(241, 35, 55), #ffd503);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.nav ul li {
    padding-bottom: 10px;
    display: inline-block;
    margin-left: 30px;
    list-style-type: none;
    font-size: large;
    font-weight: bolder;
}

.tini-tiny:hover {
    font-size: 8px;
}

/* || Main Section Styling || */

.main-section {
    background-image: url("./images/sule.jpeg");
    background-position-x: 50px;
    background-position-y: 50px;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    margin: 20px, 20px;
    padding: 20px, 20px;
    background-size: cover;
    background-position: center;
}

.About-Me {
    border-style: groove;
    border-width: 10px;
    border-radius: 50px;
    background-image:linear-gradient(rgb(211, 239, 128), #4ff9d5dd);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.About-Me:hover {
    font-size: 28px;
}

.Portfolio {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.Pofo-Column {
    flex: 0 0 15%;
    max-width: 20%;
    max-height: 5%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.Pofo-Card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 1rem;
    color:rgb(221, 10, 105)
}


.Pofo-Header {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    background-color:rgb(15, 191, 191);
    border: 3px solid rgb(254, 102, 0);
    border-radius: 10px;
}

.Pofo-Block a:hover img {
    /* max-height: 200px;
    max-width: 200px; */
    position: absolute;
    transform: scale(2);
    box-shadow: 0 0 2rem #c90016;
}

.bottom-section {
    background-image: url("./images/hledan.jpg");
    background-position-x: 50px;
    background-position-y: 50px;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    margin: 20px, 20px;
    padding: 20px, 20px;
    background-size: cover;
    background-position: center;
}

.Contact-Me {
    margin-top: 100px;
    background-image: repeating-linear-gradient(rgb(235, 12, 57), rgb(241, 230, 11));
    height: 100px;
    padding: 10px;
}
